* {
  margin: 0;
  padding: 0;
  font-family: "Oxanium", sans-serif;
  text-decoration: none;
}

body {
  background-color: #E0EAFC;
  /* background-color: #F5F7FA; */
  /* background-color: #E9F0FC; */
}